.footer {
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 5px;
  }
  img {
    width: 200px;
  }
  .rights {
    text-align: center;
  }
  div {
    background-color: rgb(109, 247, 123);
  }
  section {
    background-color: rgb(235, 44, 235);
  }
}
