.card {
  margin-bottom: 3rem;
  margin-right: 5rem;
  margin-left: 10rem;
  text-align: center;
}

.title {
  font-size: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.how {
  background: url("https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hlY2slMjBsaXN0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
}
