.jumbotron {
  background: url("https://images.unsplash.com/photo-1588577277866-8a2ee78cdf35?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjh8fHBvcmNoZSUyMDkxMXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: 0 -500px;
  background-size: cover;
  p {
    color: white;
    font-size: 20px;
    margin-right: 60%;
  }
}
.form-label {
  color: white;
}

.form-outline {
  margin-left: 60%;
}
button {
  margin-left: 700px;
}
