.navbar {
  background-color: rgb(166, 32, 166);

  list-style: none;
  display: inline-block;
  a {
    color: orange;
    font-weight: 300px bold;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
  }
}
